body{
    margin:0;
    padding:0;
    overflow:hidden;
}
body > *:not(#footer) {
  filter: blur(3px);
}
#footer{
    position:absolute;
    bottom:0;
    width:100%;
    background-color:#DCDCDC;
    height: calc(18vh + 4px);
    font-family:sans-serif, arial;
    font-weight:bold;
    text-align:center;
}
#footer-1{
    margin-top: calc((18vh + 4px) / 3.5);
}
@media only screen and (min-height:1200px){
   #footer-1{
        margin-top: calc((18vh + 4px) / 2.5);
    }
}
#footer-2{
    background-color:#8bb8f4;
    height:30px;
    width:80px;
    border-radius:5px;
}
#list > li{
    word-wrap:break-word;
    background-color:#1a73e8;
    margin-bottom:2px;
    min-height:35px;
    height:auto;
    text-align:center;
    color:white;
    font-family:arial;
    font-weight:700;
    border-radius:3px;
    padding:35px;
}
#list{
    list-style-type:none;
    height:calc(62vh + 15px);
    width:calc(30vw + 10px);

    overflow:auto;
}
#list::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}
#list::-webkit-scrollbar-thumb{
    background-color:#778899;
    border-radius:10px;
}
