body{
    margin:0;
    padding:0;
}
#footer{
    position:absolute;
    bottom:0;
    width:100%;
}
#list > li{
    word-wrap:break-word;
    background-color:#1a73e8;
    margin-bottom:2px;
    min-height:35px;
    height:auto;
    text-align:center;
    color:white;
    font-family:arial;
    font-weight:700;
    border-radius:3px;
    padding:35px;
}
#list{
    list-style-type:none;
    height:calc(62vh + 15px);
    width:calc(30vw + 10px);
    overflow:auto;
}
#list::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}
#list::-webkit-scrollbar-thumb{
    background-color:#778899;
    border-radius:10px;
}
